
	<!-- JS -->
	<script type='text/javascript' src='http://localhost:35729/livereload.js?snipver=1&#038;ver=4.8.2'></script>
	<script type='text/javascript' src='/javascripts/scripts.js'></script>
	<!-- JS -->
	
</body>
</html>
