<!doctype html>
<html lang="pt_BR">
<head>
	<!-- TITLE -->
	<title>Bitcoin Vanity Address Wallet Generator</title>
	<!-- TITLE -->

	<!-- METAS -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- METAS -->
	
	<!-- FAVICON 
	<link rel="icon" type="image/png" href="/images/mr-robot-favicon.png" />
	FAVICON -->

	<!-- CSS -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Raleway:100|Roboto:100" rel="stylesheet">
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<!-- CSS -->
</head>
<body>