	<main>
		<h1>Bitcoin Vanity Address</h1>
		<p>Make it really simple to generate bitcoin custom addresses.</p>
		<div class="vanity-form">
			<form id="vanity-form">
				<input type="text" id="text-vanity" autocomplete="off" />
				<div class="options" >
					<div class="core-container">
						<i class="fas fa-microchip"></i> Number of cores: <span class="core-number" id="core-number"></span><br/>
						<input type="range" min="1" max="100" value="1" class="slider" id="core-slider">
					</div>
					<div class="case-sensitive">
						<i class="fas fa-keyboard"></i> Case Sensitive<br/>
						<select id="case-sensitive">
							<option value="0">No</option>
							<option value="1">Yes</option>
						</select>
					</div>
					<div class="string-location">
						<i class="fas fa-location-arrow"></i> Text Vanity Location<br/>
						<select id="string-location">
							<option value="start">Start with text</option>
							<option value="end">End with text</option>
						</select>
					</div>
					<div class="wallet-type">
						<i class="fas fa-lock"></i> Wallet Type<br/>
						<select id="wallet-type">
							<option value="legacy">Legacy</option>
							<option value="segwit">Segwit P2SH</option>
						</select>
					</div>
				</div>
				<div id="alert-message"></div>
				<input class="button create-address" type="submit" value="Generate Vanity Wallet" />
				<a class="button cancel-address" href="javascript:cancelWallet();" >Cancel Process <i class="fas fa-circle-notch fa-spin"></i></a>
			</form>
		</div>
		<div class="result-container">
			<div class="result-text-container">
				<div class="result-text attempts"><i class="fas fa-hourglass-half"></i> <b>Number of attempts:</b> <span></span></div>
				<div class="result-text wallet-type"><i class="fas fa-lock"></i> <b>Wallet Type:</b> <span></span></div>
				<div class="result-text string-location"><i class="fas fa-location-arrow"></i> <b>Text Vanity Location:</b> <span></span></div>
				<div class="result-text case-sensitive"><i class="fas fa-keyboard"></i> <b>Case Sensitive:</b> <span></span></div>
			</div>
			<div class="address">
				<div class="row">
					<div class="result public-key">
						<h2>Bitcoin Address</h2>
						<div class="description">Free to share to everyone</div>
						<div class="qrcode" id="qrcode-btc-public-key"></div>
						<button class="btn clipboard" data-clipboard-text="" >Copy <i class="fas fa-paste"></i></button>
						<span></span><br/>
					</div>
					<div class="result private-key">
						<h2>Private Key (WIF)</h2>
						<div class="description">Never share to anyone</div>
						<div class="qrcode" id="qrcode-btc-private-key"></div>
						<button class="btn clipboard" data-clipboard-text="" >Copy <i class="fas fa-paste"></i></button>
						<span></span><br/>
					</div>
				</div>
			</div>
		</div>
	</main>