	<main>
		<h1>Bitcoin Vanity Address<br/>Wallet Generator</h1>
		<p>haeuEAU aeuhueahu ae uehau uae hu hau hau hae uaehueah uah</p>
		<div class="vanity-form">
			<form id="vanity-form">
				<input type="text" id="text-vanity" />
				<div class="options" >
					<div class="core-container">
						<i class="fas fa-microchip"></i> Number of cores: <span class="core-number" id="core-number"></span><br/>
						<input type="range" min="1" max="100" value="1" class="slider" id="core-slider">
					</div>
					<div class="case-sensitive">
						Case Sensitive:
						<select id="case-sensitive">
							<option value="0">No</option>
							<option value="1">Yes</option>
						</select>
					</div>
					<div class="string-end">
						Text Vanity Location:
						<select id="string-end">
							<option value="start">Begining</option>
							<option value="end">End</option>
						</select>
					</div>
					<div class="wallet-type">
						Wallet Type:
						<select id="wallet-type">
							<option value="legacy">Legacy</option>
							<option value="segwit">Segwit P2SH</option>
						</select>
					</div>
				</div>
				<div id="alert-message"></div>
				<input class="button create-address" type="submit" value="Generate Vanity Wallet" />
				<a class="button cancel-address" href="javascript:cancelWallet();" >Cancel Process <i class="fas fa-circle-notch fa-spin"></i></a>
			</form>
		</div>
		<div class="result-address">
			<div class="result attempts"><b>Number of attempts:</b> <span></span></div>
			<div class="result public-key">
				<b>Bitcoin Address:</b><br/>
				<div id="qrcode-btc-public-key"></div>
				<span></span><br/>
				<button class="btn clipboard" data-clipboard-text="" >Copy <i class="fas fa-paste"></i></button>
			</div>
			<div class="result private-key">
				<b>Private Key (WIF):</b><br/>
				<div id="qrcode-btc-private-key"></div>
				<span></span><br/>
				<button class="btn clipboard" data-clipboard-text="" >Copy <i class="fas fa-paste"></i></button>
			</div>
		</div>
	</main>