// form
.vanity-form{
	margin: auto;
	margin-top: 2rem;
	input[type="text"]{
		display: block;
		margin: auto;
		width: 200px;
		padding: 10px;
		border-radius: 5px;
		border: 0;
		text-align: center;
		font-size: 1.4rem;
		outline: 0;
		box-shadow: 0 8px 28px rgba(0,0,0,0.15), 0 8px 10px rgba(0,0,0,0.12);
		transition: all 300ms;
		&:hover, &:focus{
			box-shadow: 0 2px 22px rgba(0,0,0,0.25), 0 2px 4px rgba(0,0,0,0.22);
		}
	}
}
.button{
	display: none;
	margin: 1rem auto;
	background: #fff;
	width: 200px;
	padding: 1rem;
	border-radius: 5px;
	border: 0;
	color: #fff;
	cursor: pointer;
	box-shadow: 0 8px 28px rgba(0,0,0,0.15), 0 8px 10px rgba(0,0,0,0.12);
	transition: all 300ms;
	&:hover, &:focus{
		text-decoration: none;
		color: #fff;
		box-shadow: 0 2px 22px rgba(0,0,0,0.25), 0 2px 4px rgba(0,0,0,0.22);
	}
}

.create-address, .new-search{
	background: #FFA900;
	//color: #000;
	&:hover, &:focus{
	}
}

.cancel-address{
	background: #b91a04;
	display: none;
	&:hover, &:focus{
		background: red;
	}
}

.slider {
	margin: 1rem auto;
    -webkit-appearance: none;
    width: 200px;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
}

.slider::-webkit-slider-thumb {
	box-shadow: 0 5px 5px rgba(0,0,0,0.15), 0 5px 5px rgba(0,0,0,0.12);
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #21ABA5;
    cursor: pointer;
}

// stop animation background body
.stop-animation{
	animation: none !important;
}


// options
.options{
	width: 300px;
	margin: 1rem auto 0;
	display: none;
	.fas{
		width: 18px;
	}
}
.core-container, .case-sensitive, .string-location, .wallet-type{
	display: inline-block;
	margin: 0.75rem auto;
	text-align: left;
}

//results
.result-container, .addresses{
	@include make-container();
}
.result-text-container{
	background: rgba(37, 97, 109, 0.6);
	border-radius: 5px;
	padding: 1rem;
	display: block;
	margin: 2rem auto 0;
	width: 100%;
	font-size: 0.75rem;
	@include media-breakpoint-up(sm){
		font-size: 1rem;
		width: 430px;
	}
}
.result-text{
	display: block;
	text-align: left;
	max-width: 300px;
	margin: 1rem auto;
	span{
		display: inline-block;
		float: right;
	}
	.fas{
		width: 18px;
	}
	.counter-clock{
		display: inline-block;
		float: right;
		span{
			float: left;
		}
	}
}
select{
	display: block;
	width: 200px !important;
	padding: 1rem;
	border: 0;
	border-radius: 5px;
	margin: auto;
	box-shadow: 0 8px 28px rgba(0,0,0,0.15), 0 8px 10px rgba(0,0,0,0.12);
	transition: all 300ms;
	&:hover, &:focus{
		box-shadow: 0 2px 22px rgba(0,0,0,0.25), 0 2px 4px rgba(0,0,0,0.22);
	}
	option{
		text-align: center;
	}
}
.address{
	margin-bottom: 2rem;
	.qrcode{
		img{						
			margin: 1rem auto;
		}
	}
	.btn{
		margin-bottom: 1rem;
	}
}
.result-container{
	display: none;
	margin: auto;
	width: 100%;
	max-width: 650px;
	word-wrap: break-word;
}
.public-key, .private-key{
	@include make-col(12);
	@include media-breakpoint-up(sm){
		@include make-col(6);
	}
	padding: 2rem;
	.btn{
		display: block;
		margin: 1rem auto;
	}
}

//menu
.menu{
	padding: 0px;
	list-style: none;
	position: absolute;
	top: 0;
	width: 100%;
	text-align: center;
	@include media-breakpoint-up(sm){
		text-align: right;
		right: 1rem;
	}
	li{
		display: inline-block;
		margin: 1rem 0.75rem;
		a{
			font-weight: bold;
			color: #fff;
			outline: 0 !important;
			&:hover, &:focus{
				color: #FFC900;
				font-weight: bold;
				text-decoration: none;
			}
		}
	}
}
.modal-dialog{
	margin-top: 10vh;
	@include media-breakpoint-up(sm){
		margin-top: 25vh;
	}
}
.modal-header{
	border: 0;
}
.modal-footer{
	border: 0;
}
.modal-body{
	color: #000;
	img{
		display: block;
		margin: auto;
	}
	a{
		outline: 0 !important;
		color: #000;
		&:focus, &:hover{
			outline: 0 !important;
		}		
	}
}