body{
	text-align: center;
	padding:20vh 0 0;
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6{
	//font-family: 'Raleway', sans-serif;
	//font-family: 'Dosis', sans-serif;
}

h1{
	font-size: 2.7rem;
}