body{
	text-align: center;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	height: 100%;
	//background: linear-gradient(45deg, #1D566E, #21ABA5, #163A5F);
	background: linear-gradient(45deg, #283149, #21ABA5, #163A5F);
	background-size: 400% 200%;
	animation: gradient 5s ease infinite;
}

main{
	margin-top: 28vh;
	transition: 500ms all;
}
main.no-margin{
	margin-top: 7vh;
}

h1{
	font-size: 2.7rem;
}
